
<html>
{% load staticfiles %}
<head>
	<!--<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">-->
<title>KubeEdge</title>
<!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">-->
<link rel="stylesheet" href="{% static 'css/index.css' %}" />

</head>
<body bgcolor="#F5F5F5">
<div id="show">

<style>
.btn {
  position: absolute;
  top: 500px;
  left:700px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #104E8B;
  color: white;
  font-size: 40px;
  padding: 28px 250px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

</style>


<div class="center">
      <!--<img src="kube.png">-->
	  <!--<img src="{% static "css/kube.png" %}">-->
	  <!--<h1>{{now}}</h1>-->
	  <img src="{% static 'image/kube.png' %}" alt="My images"/>
</div>


<button class="btn" onclick="location.href='control.html'">Start</button>

<div class="bar">
      <img src="{% static 'image/name.png' %}" class="name">
</div>
</div>
</body>

</html>


